<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        

            <div class="col-10 bg-light bgshadow" style="padding: 4%;">
                <p style="color: rgba(45,211,147,1); font-size: 130%; font-weight: bold;">Legal Details</p>
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Website URL</label>
                        <input type="text" id="inputCity" class="form-control" placeholder="ABC. pvt. ltd">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Official Email ID</label>
                        <input type="email" id="inputCity" class="form-control" placeholder="abc@service.com">
                      </div>
                    </div>

                    <label style="padding-top: 3%; padding-bottom: 2%; font-weight: bold;">Legal Numbers</label>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">GSTIN Numbers</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">PAN Number</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="inputZip">AADHAR Number</label>
                          <input type="text" class="form-control" id="inputZip">
                        </div>
                      </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">TAN Number</label>
                        <input type="text" class="form-control" id="inputCity">
                        
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Registration Number</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                    </div>

                    <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="inputState">Service Provider Qualification</label>
                            <select id="inputState" class="form-control">
                              <option selected>LLM</option>
                              <option>...</option>
                            </select>
                          </div>

                        <div class="form-group col-md-6">
                            <a href="#" style="color: rgba(45,211,147,1);  padding: 4%;">Go Back</a>
                          </div>
                      </div>
                    <a href="#" style="color: rgba(45,211,147,1);">Go Back</a>
                    <button style="color: rgba(45,211,147,1); background-color:rgba(45,211,147,1); color: white; border-radius: 50px; width: 30%;" type="submit" class="btn offset-lg-8">Sign in</button>
                  </form>
            </div>
    </div>
    
    </div>