<div class="container mt-5 mb-4">
    <div class="row d-flex justify-content-center">
        

            <div class="col-10 bg-light bgshadow" style="padding: 4%;">
                <p style="color: rgba(45,211,147,1); font-size: 130%; font-weight: bold;">Legal Details</p>
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Website URL</label>
                        <input type="text" id="inputCity" class="form-control txtb inputbg" placeholder="ABC. pvt. ltd">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Official Email ID</label>
                        <input type="email" id="inputCity" class="form-control txtb inputbg" placeholder="abc@service.com">
                      </div>
                    </div>

                    <label style="padding-top: 3%; padding-bottom: 2%; font-weight: bold;">Legal Numbers</label>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                          <label for="inputCity">GSTIN Numbers</label>
                          <input type="text" class="form-control txtb inputbg" id="inputCity">
                        </div>
                        <div class="form-group col-lg-4">
                          <label for="inputState">PAN Number</label>
                          <input type="text" class="form-control txtb inputbg" id="inputCity">
                        </div>
                        <div class="form-group col-lg-4">
                          <label for="inputZip">AADHAR Number</label>
                          <input type="text" class="form-control txtb inputbg" id="inputZip">
                        </div>
                      </div>

                    <div class="form-row">
                      <div class="form-group col-lg-4">
                        <label for="inputCity">TAN Number</label>
                        <input type="text" class="form-control txtb inputbg" id="inputCity">
                        
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Registration Number</label>
                        <input type="text" class="form-control txtb inputbg" id="inputCity">
                      </div>
                    </div>

                    <div class="form-row">
                            <div class="form-group col-lg-4">
                            <label for="inputState">Service Provider Qualification</label>
                            <select id="inputState" class="form-control txtb inputbg">
                              <option selected>LLM</option>
                              <option>...</option>
                            </select>
                          </div>

                        <div class="form-group col-md-6 mt-4" style="margin-top: 35px !important">
                            <a href="#" style="color: rgba(45,211,147,1);  padding: 4%;">+ Add More</a>
                          </div>
                      </div>
                  </form>


                  <div class="row mb-3 mt-3">
                    <div class="col-6">
                      <div class="row d-flex justify-content-center">
                        <div class="col-8 col-lg-6"
                          style="cursor: pointer; background-color: white; box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.25); border-radius: 50px; height: 40px; text-align: center; padding-top: 9px !important;">
                          Go Back
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row d-flex justify-content-center">
                        <div class="col-11 col-lg-6 text-white"
                          style="cursor: pointer;background-color:rgb(45, 211, 147); border-radius: 50px; height: 40px; text-align: center; padding-top: 9px !important;">
                          Next Step
                        </div>
                      </div>
                    </div>
                  </div>


            </div>
    </div>
    
    </div>