<div class="container-fluid">
    
    <div class="background">
        <h1 class="compare-heading">Compare countless<br>Societies!</h1>
        <button class="button-background">Compare Societies</button>

    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h1 class="what-is-esocietybazaar mt-4 ">What is eSocietyBazaar?</h1>
        </div>
        <div class="col-4"></div>

    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <p class="what-is-esocietybazaar-body text-center">eSocietyBazaar is an all-in-one aggregating portal which
                seamlessly connects Cooperative Societies to end users & service providers. End Users, along with
                Societies can take advantage of the Online Payment Facilities which eSocietyBazaar automatically
                provides to all listed societies. eSocietyBazaar has all the types of societies with all the latest
                components for its end users to choose from and start Investing!</p>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        
    </div>






</div>