<div class="container-fluid" style="background-color: antiquewhite;">
    <div class="background">
        <div class="background-header" style="background-color: rgb(241, 137, 0);">
        </div>
        <div class="row compare-heading text-white " style="background-color: rgb(243, 187, 113);">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="col-4 text-center">Compare countless Societies!</h1>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
                <button class="button-background text-white pt-3 pb-3 pr-5 pl-5 ">Compare Societies</button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="background-color: rgb(18, 44, 48);">
        <div class="col-lg-4  text-center">
            <h1 class="what-is-esocietybazaar mt-4 ">What is eSocietyBazaar?</h1>
        </div>
      
    </div>
    <div class="row d-flex justify-content-center" style="background-color: rgb(67, 105, 68);">
        <div class="col-6">
            <p class="what-is-esocietybazaar-body text-center">eSocietyBazaar is an all-in-one aggregating portal which
                seamlessly connects Cooperative Societies to end users & service providers. End Users, along with
                Societies can take advantage of the Online Payment Facilities which eSocietyBazaar automatically
                provides to all listed societies. eSocietyBazaar has all the types of societies with all the latest
                components for its end users to choose from and start Investing!</p>
        </div>
    </div>
    <!-- <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-6">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/investers.png" alt="">
                        <div class="card-body">
                          <h5 class="card-title text-center">Investers</h5>
                          <p class="card-text text-center">Take advantage of Online
                            Payments, Comparisons
                            & More</p>
                          <a href="#" class="btn">Learn more</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/socities.png" alt="">
                        <div class="card-body">
                          <h5 class="card-title text-center">Societies</h5>
                          <p class="card-text text-center">Get Online Payment 
                            Gateways, Legal & Software 
                            Support & More</p>
                          <a href="#" class="btn">Learn more</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/services.png" alt="">
                        <div class="card-body">
                          <h5 class="card-title text-center">Services</h5>
                          <p class="card-text text-center">Showcase your services,
                            Connect with societies
                            & make business</p>
                          <a href="#" class="btn">Learn more</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>




 -->


</div>

<div class="row col-12 justify-content-center">
  <div class="col-lg-2">
    <div class="next card"><b>Investors</b>
    <p class="ne">Take advantage of Online
      Payments, Comparisons
      & More</p>
      <a href="#" style="color: rgba(31, 180, 122, 1)">Learn More</a>
    </div>
  </div>
  <div class="col-lg-2 ">
    <div class="next card"><b>Socities</b>
    <p class="ne">
      Get Online Payment
      Gateways, Legal & Software
      Support & More
      </p>
      <a href="#" style="color: rgba(31, 180, 122, 1);">Learn More</a>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="next card"><b>Services</b>
    <p class="ne">Showcase your services,
      Connect with societies
      & make business</p>
      <a href="#" style="color: rgba(31, 180, 122, 1);">Learn More</a>
    </div>
  </div>
  
</div>

<div class="jumbotron backgroundImage" style="height:auto;">
  <div class="col-12 justify-content-center" >
    <div class="col" style="padding: 20px;">
  <p class="col" style="color:rgba(31, 180, 122, 1); text-align: center;">Latest News</p>
  <h3 class="col " style="text-align: center; color: black;"><b>Our insights</b> & creative ideas</h3>
</div>
  <div class="col-lg-12 row d-flex justify-content-center justify-content-center">

    <div class="card backgroundImage">
      <img class="card-img-top" src="../../../assets/images/download.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">President of America</p>
      </div>
    </div>

    <div class="card backgroundImage">
      <img class="card-img-top" src="../../../assets/images/download.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">President of America</p>
      </div>
    </div>

    <div class="card backgroundImage" >
      <img class="card-img-top" src="../../../assets/images/download.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">President of America</p>
      </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
  <a class="btn btn-primary btn-lg" style="justify-content:center;"  href="#" role="button">All News</a>
</div>
  </div>
</div>

<div class="row" style="height:auto; background-color:#ffffff; justify-content:center; padding: 40px;">
  <div class="col-lg-3 col-md-10 col-sm-10 justify-content-center" >
  
  <h3 class="col" style="text-align:initial; color: black;font-weight: 500;"><b>Refer and Earn</b></h3>
  <h3 class="col" style="text-align: initial; color: rgba(31, 180, 122, 1);font-weight: 500;"><b style="color: grey;">Get</b> 50Rs on each refer</h3>
  <p class="col-10" style="text-align: initial; color:grey;">Invite your friends & family on eSocietyBazaar & Earn 50 Rs worth ESB Points - Spend them anywhere or cash them out in your Society Accounts!</p>
    </div>
     <img style="height: 300px; width: 450px;" src="../../../assets/Screenshot (40).png">
  
</div>
     <div class="row backgroundImage" style="height:auto; justify-content: center;">
      <div class="col-8">
      <p class="col" style="text-align: initial; color: black;"><b>Quick Links</b></p>
      <p class="col" style="text-align: initial; color: grey;"><b>Societies Types: </b>Credit Societies | Housing Societies | Farming Societies </p>
      <p class="col" style="text-align: initial; color:grey;"><b>Types:</b> Short term loans | Medium term loans | Long term loans | Short term deposits | Medium term deposits | Long term deposits </p>
      <p class="col" style="text-align: initial; color: grey;"><b>Categories: </b> eSocietyBazaar Bonus | Senior Citizens | Women</p>
  </div>
</div>








