<div class="container-fluid">

    <div class="background">
        <div class="background-header">
        </div>

        <div class="row compare-heading text-white ">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="col-4 text-center">Compare countless Societies!</h1>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
                <button class="button-background text-white pt-3 pb-3 pr-5 pl-5 ">Compare Societies</button>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4 text-center">
            <h1 class="what-is-esocietybazaar mt-4 ">What is eSocietyBazaar?</h1>
        </div>
      
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <p class="what-is-esocietybazaar-body text-center">eSocietyBazaar is an all-in-one aggregating portal which
                seamlessly connects Cooperative Societies to end users & service providers. End Users, along with
                Societies can take advantage of the Online Payment Facilities which eSocietyBazaar automatically
                provides to all listed societies. eSocietyBazaar has all the types of societies with all the latest
                components for its end users to choose from and start Investing!</p>
        </div>
      </div>

</div>