<!-- <ngb-carousel>
    <div class="row bg-dark">
        <div class="col-lg-4 bg-dark">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="display: inline-block;">
            <img src="../../../assets/logo-side-wo-bg.png" alt="Random first slide">            
        </div>
        <div class="picsum-img-wrapper" style="display: inline-block;">
            <img src="../../../assets/logo-side-wo-bg.png" alt="Random first slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="display: inline-block;">
            <img src="../../../assets/logo-side-wo-bg.png" alt="Random first slide">
        </div>
        
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/logo-side-wo-bg.png" alt="Random first slide">
        </div>
    </ng-template>
</div></div>
</ngb-carousel>
 -->

<div class="row">
    <div class="col-lg-11" style="display:flex;">
        
<div class="glider-contain multiple">

    <button class="glider-prev " style="display: inline;">
        <i class="fa fa-chevron-left"></i>
    </button>

    <div class="glider" style="display: flex;">
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="services.png" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Societies</h5>
              <p class="card-text text-center">Get Online Payment 
                Gateways, Legal & Software 
                Support & More</p>
              <a href="#" class="btn">Learn more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="services.png" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Societies</h5>
              <p class="card-text text-center">Get Online Payment 
                Gateways, Legal & Software 
                Support & More</p>
              <a href="#" class="btn">Learn more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="services.png" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Societies</h5>
              <p class="card-text text-center">Get Online Payment 
                Gateways, Legal & Software 
                Support & More</p>
              <a href="#" class="btn">Learn more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="services.png" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Societies</h5>
              <p class="card-text text-center">Get Online Payment 
                Gateways, Legal & Software 
                Support & More</p>
              <a href="#" class="btn">Learn more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="services.png" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Societies</h5>
              <p class="card-text text-center">Get Online Payment 
                Gateways, Legal & Software 
                Support & More</p>
              <a href="#" class="btn">Learn more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="services.png" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Societies</h5>
              <p class="card-text text-center">Get Online Payment 
                Gateways, Legal & Software 
                Support & More</p>
              <a href="#" class="btn">Learn more</a>
            </div>
        </div>
        
    </div>

    <button class="glider-next" style="display: inline-block;">
        <i class="fa fa-chevron-right"></i>
    </button>   



</div>
</div>
</div>

