<div class="container mt-5 mb-4">
    <div class="row d-flex justify-content-center">
      <div class="col-10 bg-light  bgshadow">
  
        <div class="row d-flex justify-content-center mt-4">
          <div class="col-10">
            <h3 style="color: rgba(31, 180, 122, 1); ">Social Media Chanels</h3>
      
      
            <form action="/action_page.php">
      
             <div class="row" style="margin-left: auto ;justify-content:space-between;">
                <div class="form-group col-6">
                  <label for="state" class="fontsizesm txtgrey">Facebook Page</label>
                  <input type="text" class="form-control txtb inputbg" id="facebook" placeholder="Facebook Page" name="facebook">
                </div>
                <div class="form-group col-6">
                  <label for="state" class="fontsizesm txtgrey">Twitter Page</label>
                  <input type="text" class="form-control txtb inputbg" id="twitter" placeholder="Twitter Page" name="twitter">
                </div>
 
      
              </div>
      
      
              <div class="row" style="margin-left: auto ;justify-content:space-between;">
                <div class="form-group col-6">
                    <label for="state" class="fontsizesm txtgrey">Instagram Page</label>
                    <input type="text" class="form-control txtb inputbg" id="instagram" placeholder="Instagram Page" name="instagram">
                  </div>
                <div class="form-group col-6">
                  <label for="state" class="fontsizesm txtgrey">Youtube Channel</label>
                  <input type="text" class="form-control txtb inputbg" id="youtube" placeholder="Youtube Channel" name="youtube">
                </div>

 
      
              </div>
              <div class="row" style="margin-left: auto ;">
                <div class="form-group col-6">
                  <label class="fontsizesm txtgrey " for="email">Youtube Channel</label>
                  <input type="text" class="form-control txtb inputbg" id="youtube" placeholder="Youtube Channel" name="youtube">
                </div>
                <div class="form-group col-md-6 mt-4" style="margin-top: 35px !important">
                  <a style=" cursor: pointer; color: rgba(45,211,147,1);  padding: 4%;">+ Add More</a>
                </div>


              </div>
      
            </form>
      
            <div class="row mb-3 mt-3">
              <div class="col-6">
                <div class="row d-flex justify-content-center">
                  <div class="col-8 col-lg-6"
                    style="cursor: pointer; background-color: white; box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.25); border-radius: 50px; height: 40px; text-align: center; padding-top: 9px !important;">
                    Go Back
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row d-flex justify-content-center">
                  <div class="col-11 col-lg-6 text-white"
                    style="cursor: pointer;background-color:rgb(45, 211, 147); border-radius: 50px; height: 40px; text-align: center; padding-top: 9px !important;">
                    Next Step
                  </div>
                </div>
              </div>
            </div>
   
          </div>
        </div>
  
      </div>
    </div>
  
  </div>