<div class="row py-4 backgroundImage" style="height:auto; justify-content: center;">
    <div class="col-8">
    <p class="col" style="text-align: initial; color: black;"><b>Quick Links</b></p>
    <p class="col" style="text-align: initial; color: grey;"><b>Societies Types: </b>Credit Societies | Housing Societies | Farming Societies </p>
    <p class="col" style="text-align: initial; color:grey;"><b>Types:</b> Short term loans | Medium term loans | Long term loans | Short term deposits | Medium term deposits | Long term deposits </p>
    <p class="col" style="text-align: initial; color: grey;"><b>Categories: </b> eSocietyBazaar Bonus | Senior Citizens | Women</p>
</div>
</div>
