<footer class="page-footer font-small  lighten-5 footer t2">


    <div class=" container-fluid text-center  text-md-left  ">
        <div class="row d-flex justify-content-center">

            <div class="col-lg-10 col-md-8 col-sm-8">



                <div class="row pt-4 mt-2 white-text">

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ">


                        <h6 class="text-uppercase font-weight-bold" class="t3">Contact Us</h6>
                        <hr class="teal accent-3 mb-0 " style="width: 30px;  ">

                        <p class="t1">
                            <i class="fas fa-phone mr-3"></i> +011 123 456 789</p>

                        <p class="t1">
                            <i class="fas fa-envelope mr-3"></i> supprt@societybazaar.com</p>
                        <p class="t1">
                            <i class="fas fa-envelope mr-3"></i>claims@societybazaar.com</p>
                        <p class="t1">
                            <i class="fas fa-envelope mr-3"></i> sales@societybazaar.com</p>
                        <p class="t1">
                            <i class="fas fa-map-marker-alt mr-3"></i> I.P Extension, Delhi 11009</p>


                    </div>



                    <div class="col-md-3 col-lg-2  mb-4">

                        <h6 class="text-uppercase font-weight-bold" class="t3">Policies & Info</h6>
                        <hr class="teal accent-3 mb-1 " style="width: 30px;">

                        <p class="t1">Conditions Terms</p>
                        <p class="t1"> Policy for Sellers </p>
                        <p class="t1"> Policy for Buyers </p>
                        <p class="t1"> Shipping & Refund </p>
                        <p class="t1"> Wholesale Policy</p>


                        <h6 class="text-uppercase font-weight-bold" class="t3">Policies & Info</h6>
                        <hr class="teal accent-3 mb-1 " style="width: 30px;">

                        <p class="t1">Conditions Terms</p>
                        <p class="t1"> Policy for Sellers </p>
                        <p class="t1"> Policy for Buyers </p>
                        <p class="t1"> Shipping & Refund </p>
                        <p class="t1"> Wholesale Policy</p>


                    </div>

                    <div class="col-md-3 col-lg-2  mb-4">

                        <h6 class="text-uppercase font-weight-bold" class="t3">Society Links</h6>
                        <hr class="teal accent-3 mb-0 " style="width: 30px;">


                        <p class="t1">Society Login </p>
                        <p class="t1">Society Sign up </p>
                        <p class="t1">Society Handbook </p>
                        <p class="t1">Society Control</p>
                        <p class="t1"> Society FAQs</p>

                        <h6 class="text-uppercase font-weight-bold" class="t3">Policies & Info</h6>
                        <hr class="teal accent-3 mb-1 " style="width: 30px;">

                        <p class="t1">Conditions Terms</p>
                        <p class="t1"> Policy for Sellers </p>
                        <p class="t1"> Policy for Buyers </p>
                        <p class="t1"> Shipping & Refund </p>
                        <p class="t1"> Wholesale Policy</p>



                    </div>

                    <div class="col-md-3 col-lg-2  mb-4">

                        <h6 class="text-uppercase font-weight-bold" class="t3">My Account</h6>
                        <hr class="teal accent-3 mb-0 " style="width: 30px;">
                        <p class="t1">Terms Conditions</p>
                        <p class="t1"> Policy for Sellers </p>
                        <p class="t1"> Policy for Buyers </p>
                        <p class="t1"> Shipping & Refund </p>
                        <p class="t1"> Wholesale Policy </p>

                        <h6 class="text-uppercase font-weight-bold" class="t3">Policies & Info</h6>
                        <hr class="teal accent-3 mb-1 " style="width: 30px;">

                        <p class="t1">Conditions Terms</p>
                        <p class="t1"> Policy for Sellers </p>
                        <p class="t1"> Policy for Buyers </p>
                        <p class="t1"> Shipping & Refund </p>
                        <p class="t1"> Wholesale Policy</p>


                    </div>


                    <div class="col-md-3 col-lg-2  mb-4">

                        <h6 class="text-uppercase font-weight-bold" class="t3">Subscribe Now</h6>
                        <hr class="teal accent-3 mb-0 " style="width: 30px;">
                        <p class="t1">Contrary to popular belief of lorem</p>
                        <p class="t1"> Latin amet ltin from.</p>



                        <!-- <div class="text-center"> -->











                        <form>
                            <div class="form-row align-items-center">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        style="font-weight:100 ; font-size: 13px; border-radius: 20px 0px 0px 20px;"
                                        id="inlineFormInputGroupUsername" placeholder="Your E-mail Address">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"
                                            style="background-color: orange; width: 50px; border-radius:0px 20px 20px 0px ;">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>

                        <div style="color:gray;">
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f white-text mr-4"> </i>
                            </a>

                            <a class="tw-ic">
                                <i class="fab fa-twitter white-text mr-4"> </i>
                            </a>

                            <a class="gplus-ic">
                                <i class="fab fa-youtube white-text mr-4"> </i>
                            </a>



                            <a class="ins-ic">
                                <i class="fas fa-wifi white-text"> </i>
                            </a>
                        </div>



                        <!--                 
                      <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                          </div>
                          
                        </div>
                      </div> -->


                    </div>




                </div>






            </div>
        </div>

    </div>
    <!-- <div class="footer-copyright text-center text-black-50 py-3">C:
        <a style="color: #a52a2a;" href="#!">L C</a>
    </div> -->


</footer>