.txtg{
    color: rgba(45, 211, 147, 1) !important;
}
.txtgrey{
    color: grey;
}
.bg{
 background-image: linear-gradient(to bottom, #f1fcf8, #f3fdfd, #f8fdff, #fcfeff, #ffffff);
}
.txtb{
    color: black;
}
.inputbg{
    background-color:rgb(245, 253, 250) ;
}
.txtghead{
    color: rgba(45, 211, 147, 1);
    font-weight: 700 !important;
}

.txtgreyhead{
    color: rgb(172, 172, 172);
    font-weight :500 !important;
}

.form-control{
    border-top: 0px ;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-bottom: solid 2px rgba(45, 211, 147, 1);
}

.fontsizesm{
    font-weight: 300;
    font-size: 13px;
}