<app-user-header></app-user-header>     




<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8 mt-4" >
            <div class="row">

                <div class="col-6">
                    <img src="../../../assets/Screenshot (40).png" width="100%" height="250px"/>
                </div>
                <div class="col-4">
                    <h6  class="txtghead">Welcome Back</h6 >
                    <h6  class="txtgreyhead">  
                        Continue your application & get listed on eSocietyBazaar
                    </h6>
                    <form action="/action_page.php">
                        <div class="form-group">
                          <label class="fontsizesm txtgrey" for="email">Email Address</label>
                          <input type="email" class="form-control txtb" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="form-group">
                          <label for="pwd" class="fontsizesm txtgrey">Type</label>
                          <input type="password" class="form-control txtb" id="pwd" placeholder="Enter password" name="pswd">
                        </div>
                        <div class="form-group">
                          <label class="fontsizesm txtg">
                                Change Password
                          </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    </div>










<app-userfooter></app-userfooter>