<div class="container-fluid background">
</div>
<div class="container containerpos">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h5 class="col-lg-5 col-12 " style="color: rgba(91, 91, 91, 1);">Find Societies Faster , Smarter </h5>
            <div class="col-lg-6 col-12 float-right marginclass">
                <form>
                    <i class="fas fa-search" style="color: rgba(31, 180, 122, 1);"></i><input class="inputChange col-11"
                        type="text" name="" placeholder="Or type a Society's name/place/type" id="">
                </form>
            </div>

        </div>
    </div>
    <p class="col-lg-8 col-12">Are you struggling to find a society in your
        area that fills all your needs? Don't have time to go to society offices make deposits? Select a location.</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3 d-flex justify-content-center p-3 btnhover1"
                    style="border-radius: 12px !important;">
                    <img src="../../../assets/mumbai.png" height="55px" alt="">
                </div>
                <div class="col-lg-3 d-flex justify-content-center p-3 btnhover1"
                    style="border-radius: 12px !important;">
                    <img src="../../../assets/taj-mahal.png" height="55px" alt="">
                </div>
                <div class="col-lg-3 d-flex justify-content-center p-3 btnhover1"
                    style="border-radius: 12px !important;">
                    <img src="../../../assets/gate-of-india.png" height="55px" alt="">
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mt-5">
            <h5 class="col-lg-6" style="color: rgba(91, 91, 91, 1);">Select Society Type </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="row ml-1 mt-3">
                <div class="dropdown col-lg-3 ">
                    <button class="btn btnhover1 dropdown-toggle btnradius" type="button" data-toggle="dropdown"
                        style="color: rgba(91, 91, 91, 1);"> <i class="fas fa-piggy-bank"
                            style="color: rgba(31, 180, 122, 1);"></i> Credit Society
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">asdd</a></li>
                        <li><a href="#">sdaa</a></li>
                        <li><a href="#">adfefae</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 text-center mt-2" style="color: rgba(31, 180, 122, 1);">Now Select,</div>
                <div class="col-lg-3 "><button class="btn btnhover1 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Deposits</button></div>
                <div class="col-lg-3 "><button class="btn btnhover1 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Loans</button></div>
            </div>
        </div>
    </div>
    <div class="row ml-1 mt-4">
        <h5 class="col-lg-6" style="color: rgba(31, 180, 122, 1);">Scheme Type </h5>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="row ml-1 mt-3 d-flex justify-content-center">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 mt-2" style="color: rgba(91, 91, 91, 1);">Term-Mid</div>
                        <input type="range" class="custom-range col-lg-6 mt-2" min="0" max="2" id="customRange1">
                    </div>
                </div>
                <div class="col-lg-3 text-center mt-2" style="color: rgba(31, 180, 122, 1); font-size: 15px;">Additional
                    information, if any</div>
                <div class="col-lg-2"><button class="btn btnhover2 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Senior Citizen</button></div>
                <div class="col-lg-2"><button class="btn btnhover2 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Women</button></div>
                <div class="col-lg-2"><button class="btn btnhover2 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Special Offers</button></div>
            </div>
        </div>
    </div>
    <ng-image-slider [images]="imageObject" #nav></ng-image-slider>


    <!-- card starts here -->


    <div class="row d-flex justify-content-center">

        <!-- first card -->


        <div class="card col-lg-3 col-3 m-3">
            <div class="row">
                <div class="col-12 cardtopbar text-center text-white"
                    style="background: linear-gradient(90deg, rgba(46,160,115,1) 0%, rgba(213,255,234,1) 100%);"><img
                        src="../../../assets/bookmark.png" height="50px" width="50px"
                        style="position: relative; top: -8px; left: -50px;"/><strong>9% Intrest on Deposit*</strong>
                </div>
            </div>

            <div class="card-body">
                <div class="row cardheading d-flex justify-content-center">
                    <div class="col-10 text-center">Sanskrit & Hindi Credit Limit</div>
                </div>
                <div class="row d-flex justify-content-center">West Kalka Baagh, New Delhi</div>
                <div class="row d-flex justify-content-center">
                    <div class="col-3 ml-2 mt-3">
                        <i class="row d-flex justify-content-center fas fa-users"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">1520</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">members
                        </div>
                    </div>
                    <div class="col-3 mr-2 mt-3">
                        <i class="row d-flex justify-content-center fas fa-tag" style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">₹250/-
                        </div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Member fee
                        </div>
                    </div>
                    <div class="col-3 mr-3 mt-3">
                        <i class="row d-flex justify-content-center fas fa-money-check"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹1,10,20,000/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Share cap
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-3 mr-3 mt-3 mb-3">
                        <i class="row d-flex justify-content-center fas fa-rupee-sign"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹15,56,110/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Deposits
                        </div>
                    </div>
                    <div class="col-3 mr-3 mt-3 mb-3">
                        <i class="row d-flex justify-content-center fas fa-book-open"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹15,45,110/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Loans</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-6 text-center">
                        <button class="btn btn-primary cardviewbutton pt-2 pb-2 pl-4 pr-4"
                            style="background-color: rgba(45, 211, 145, 1)!important;">view</button>
                    </div>
                </div>
            </div>
            <div class="card-footer">                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
</div>
        </div>

        <!-- second card -->

        <div class="card col-lg-3 col-3 m-3">
            <div class="row">
                <div class="col-12 cardtopbar text-center text-white"
                    style="background: linear-gradient(90deg, rgba(46,160,115,1) 0%, rgba(213,255,234,1) 100%);"><img
                        src="../../../assets/bookmark.png" height="50px" width="50px"
                        style="position: relative; top: -8px; left: -50px;" /><strong>9% Intrest on Deposit*</strong>
                </div>
            </div>

            <div class="card-body">
                <div class="row cardheading d-flex justify-content-center">
                    <div class="col-10 text-center">Sanskrit & Hindi Credit Limit</div>
                </div>
                <div class="row d-flex justify-content-center">West Kalka Baagh, New Delhi</div>
                <div class="row d-flex justify-content-center">
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-users"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">1520</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">members
                        </div>
                    </div>
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-tag" style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">₹250/-
                        </div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Member fee
                        </div>
                    </div>
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-money-check"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹1,10,20,000/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Share cap
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-rupee-sign"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹15,56,110/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Deposits
                        </div>
                    </div>
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-book-open"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹15,45,110/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Loans</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-6 text-center">
                        <button class="btn btn-primary cardviewbutton pt-2 pb-2 pl-4 pr-4"
                            style="background-color: rgba(45, 211, 145, 1)!important;">view</button>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
            </div>
        </div>
        <!-- third card -->


        <div class="card col-lg-3 col-3 m-3">
            <div class="row">
                <div class="col-12 cardtopbar text-center text-white"
                    style="background: linear-gradient(90deg, rgba(46,160,115,1) 0%, rgba(213,255,234,1) 100%);"><img
                        src="../../../assets/bookmark.png" height="50px" width="50px"
                        style="position: relative; top: -8px; left: -50px;" /><strong>9% Intrest on Deposit*</strong>
                </div>
            </div>

            <div class="card-body">
                <div class="row cardheading d-flex justify-content-center">
                    <div class="col-10 text-center">Sanskrit & Hindi Credit Limit</div>
                </div>
                <div class="row d-flex justify-content-center">West Kalka Baagh, New Delhi</div>
                <div class="row d-flex justify-content-center">
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-users"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">1520</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">members
                        </div>
                    </div>
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-tag" style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">₹250/-
                        </div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Member fee
                        </div>
                    </div>
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-money-check"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹1,10,20,000/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Share cap
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-rupee-sign"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹15,56,110/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Deposits
                        </div>
                    </div>
                    <div class="col-3">
                        <i class="row d-flex justify-content-center fas fa-book-open"
                            style="color: rgba(91, 91, 91, 1);"></i>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 700;">
                            ₹15,45,110/-</div>
                        <div class="row cardcontent d-flex justify-content-center" style="font-weight: 400;">Loans</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-6 text-center">
                        <button class="btn btn-primary cardviewbutton pt-2 pb-2 pl-4 pr-4"
                            style="background-color: rgba(45, 211, 145, 1)!important;">view</button>
                    </div>
                </div>
            </div>
            <div class="card-footer">                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
                <img src="../../../assets/star.png" height="13px" width="13px" />
</div>
        </div>


    </div>