.background{
    background-image: url("../../../assets/green backgground.png");
    height: 200px;
    opacity: 0.2;
}
.containerpos{
    position: relative;
    top: -180px !important;
}

.marginclass{
    position: relative;
    top: -33px;
}
.inputChange{
    background:transparent;
    border: none;
}
.inputChange:focus{
    outline-width: 0px;
}

.inputChange::placeholder{
    color: rgba(31, 180, 122, 1);
    padding-left: 5px;
    font-weight: 700;
}
@media screen and (max-width:992px){
    .marginclass{
        position: relative;
        top: 0px;
    }
}