<div class="container-fluid background">
</div>
<div class="container containerpos">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h5 class="col-lg-5 col-12 bg-dark">Find Societies Faster , Smarter </h5>
            <h5 class="col-lg-6 col-12 bg-danger float-right marginclass">Find Societies Faster , Smarter </h5>
        </div>
    </div>
    <p class="col-lg-8 col-12">are you struggling to find a society in your
        area that fills all your needs dont have to time to go to society offices make deposits select a location</p>
</div>
