<div class="container-fluid background">
</div>
<div class="container containerpos">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h5 class="col-lg-5 col-12 ">Find Societies Faster , Smarter </h5>
            <div class="col-lg-6 col-12 float-right marginclass">
                <form>
                    <i class="fas fa-search" style="color: rgba(31, 180, 122, 1);"></i><input class="inputChange col-11" type="text" name="" placeholder="Or type a Society's name/place/type" id="" >    
                </form>            
            </div>

        </div>
    </div>
    <p class="col-lg-8 col-12">Are you struggling to find a society in your
        area that fills all your needs? Don't have time to go to society offices make deposits? Select a location.</p>
    <div class="row">
        <div class="col-lg-5" style="background-color: aquamarine; height: 150px;">
            
        </div>
    </div>
</div>
