<div class="row" style="height:auto; background-color:#ffffff; justify-content:center; padding: 40px;">
    <div class="col-lg-3 col-md-10 col-sm-10 justify-content-center" >
    
    <h3 class="col" style="text-align:initial; color: black;font-weight: 500;"><b>Refer and Earn</b></h3>
    <h3 class="col" style="text-align: initial; color: rgba(31, 180, 122, 1);font-weight: 500;"><b style="color: grey;">Get</b> 50Rs on each refer</h3>
    <p class="col-10" style="text-align: initial; color:grey;">Invite your friends & family on eSocietyBazaar & Earn 50 Rs worth ESB Points - Spend them anywhere or cash them out in your Society Accounts!</p>
      </div>
       <img style="height: 300px; width: 450px;" src="../../../assets/Screenshot (40).png">
    
  </div>