<div class="container-fluid mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-5 text-center"
            style="color: rgba(45,211,147,1); font-size:24px; font-weight: bold; letter-spacing: 0.39px;">
            FAQ
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-9  ">
            <div class="row d-flex justify-content-center">
                <div class="col-11 bg-light">
                    <div class="row">
                        <div class="col-12 mt-1" [class.defaultpos]="show!=1" (click)="shows(1)"
                            style="border-radius: 50px;min-height: 60px; border: solid 2px grey; cursor: pointer; box-sizing: border-box !important;">
                            <div class="row d-flex justify-content-center my-auto py-auto"
                                style="align-items: center; justify-content: center; margin-top: 30px; padding-top: 15px;">
                                <div class="col-11" style="width: auto;">
                                    Lorem ipsum dolor sit amet?
                                </div>
                                <div class="col-1">
                                    <i class="fas fa-caret-down" style="color: grey;"></i>
                                </div>
                            </div>



                        </div>



                        <div class="col-lg-12 col-12" [class.visible]="show==1" [class.notvisible]="show!=1">Lorem
                            ipsum, dolor sit amet consectetur adipisicing elit. Ea, neque!</div>





                        <div class="col-12 mt-1" (click)="shows(2)" [class.defaultpos]="show!=2"
                            style="border-radius: 50px;height: 60px;cursor: pointer; border: solid 2px grey;">
                            <div class="row d-flex justify-content-center my-auto py-auto"
                                style="align-items: center; justify-content: center; margin-top: 30px; padding-top: 15px;">
                                <div class="col-11" style="width: auto;">
                                    Lorem ipsum dolor sit amet?
                                </div>
                                <div class="col-1">
                                    <i class="fas fa-caret-down" style="color: grey;"></i>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12 col-12" [class.visible]="show==2" [class.notvisible]="show!=2">Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Assumenda, facilis.</div>



                        <div class="col-12 mt-1" (click)="shows(3)" [class.defaultpos]="show!=3"
                            style="border-radius: 50px;height: 60px; cursor: pointer; border: solid 2px grey;">
                            <div class="row d-flex justify-content-center my-auto py-auto"
                                style="align-items: center; justify-content: center; margin-top: 30px; padding-top: 15px;">
                                <div class="col-11" style="width: auto;">
                                    Lorem ipsum dolor sit amet?
                                </div>
                                <div class="col-1">
                                    <i class="fas fa-caret-down" style="color: grey;"></i>
                                </div>
                            </div>

                        </div>



                        <div class="col-lg-12 col-12" [class.visible]="show==3" [class.notvisible]="show!=3">Lorem
                            ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, voluptatibus.</div>




                        <div class="col-12 mt-1" (click)="shows(4)" [class.defaultpos]="show!=4"
                            style="border-radius: 50px;height: 60px; cursor: pointer; border: solid 2px grey;">
                            <div class="row d-flex justify-content-center my-auto py-auto"
                                style="align-items: center; justify-content: center; margin-top: 30px; padding-top: 15px;">
                                <div class="col-11" style="width: auto;">
                                    Lorem ipsum dolor sit amet?
                                </div>
                                <div class="col-1">
                                    <i class="fas fa-caret-down" style="color: grey;"></i>
                                </div>
                            </div>

                        </div>



                        <div class="col-lg-12 col-12" [class.visible]="show==4" [class.notvisible]="show!=4">Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Temporibus, beatae.</div>




                        <div class="col-12 mt-1" (click)="shows(5)" [class.defaultpos]="show!=5"
                            style="border-radius: 50px;height: 60px;cursor: pointer; border: solid 2px grey;">
                            <div class="row d-flex justify-content-center my-auto py-auto"
                                style="align-items: center; justify-content: center; margin-top: 30px; padding-top: 15px;">
                                <div class="col-11" style="width: auto;">
                                    Lorem ipsum dolor sit amet?
                                </div>
                                <div class="col-1">
                                    <i class="fas fa-caret-down" style="color: grey;"></i>
                                </div>
                            </div>

                        </div>




                        <div class="col-lg-12 col-12" [class.visible]="show==5" [class.notvisible]="show!=5">Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Qui, ratione!</div>



                        <div class="col-12 mt-1" (click)="shows(6)" [class.defaultpos]="show!=6"
                            style="border-radius: 50px;height: 60px;cursor: pointer; border: solid 2px grey;">
                            <div class="row d-flex justify-content-center my-auto py-auto"
                                style="align-items: center; justify-content: center; margin-top: 30px; padding-top: 15px;">
                                <div class="col-11" style="width: auto;">
                                    Lorem ipsum dolor sit amet?
                                </div>
                                <div class="col-1">
                                    <i class="fas fa-caret-down" style="color: grey;"></i>
                                </div>
                            </div>

                        </div>




                        <div class="col-lg-12 col-12" [class.visible]="show==6" [class.notvisible]="show!=6">Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Optio, minus?</div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>